.wrapperleft {
  height: 100%;
  background-image: url('./block-left.jpg');
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.wrapperright {
  height: 100%;
  background-image: url('./block-right.jpg');
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.spacer {
  height: 400px;
}

.blocktext {
  color: white;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-top: 20%;
  font-size: 2rem;
}

.blocktextmid {
  color: white;
  font-style: italic;
  font-weight: 400;
  font-size: 1.4rem;
}

.blocktextlil {
  color: white;
  font-weight: 100;
  padding-bottom: 20%;
  font-size: 1rem;
}

.txtBlockWrapper {
  height: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
