.wrapperleft {
  height: 100%;
  background-image: url('./block-left.jpg');
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.wrapperright {
  height: 100%;
  background-image: url('./block-right.jpg');
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.spacer {
  height: 400px;
}

.blocktext {
  color: white;
  font-weight: 100;
}

.txtBlockWrapper {
  height: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
