.backgroffice {
  background-image: url('./ufficio.jpg');
  background-size: cover;
  text-align: center;
  height: 400px;
  z-index: 0;
}

.backgrhospital {
  background-image: url('./abitazione.jpg');
  background-size: cover;
  text-align: center;
  height: 400px;
  z-index: 0;
}

.backgrstore {
  background-image: url('./negozio.jpg');
  background-size: cover;
  text-align: center;
  height: 400px;
  z-index: 0;
}

.backgrhotel {
  background-image: url('./hotel.jpg');
  background-size: cover;
  text-align: center;
  height: 400px;
  z-index: 0;
}

.whitelayer {
  height: 100%;
  width: 100%;
  background-color: rgba(91 , 91, 91, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.whitelayer:hover {
  background-color: rgba(91 , 91, 91, 0.7);
  animation: fadeinscritte 1s;
  animation-fill-mode: forwards;
}

.whitelayer:hover .headsubtitle {
  opacity: 1;
}

.whitelayer:hover .headsubsubtitle {
  opacity: 1;
}

.headsubtext {
  z-index: 10;
}

.headsubtitle {
  color: white;
  opacity: 0;
}

.headsubsubtitle {
  margin-left: 5%;
  margin-right: 5%;
  color: white;
  font-size: 1.3rem;
  font-weight: 100;
  opacity: 0;
}

.mobilesuggestion {
  text-align: center;
  margin-bottom: 0;
  font-size: 0.8rem;
  color: grey;
  font-weight: 100;

}

/* ANIMATIONS */

@keyframes fadeinscritte {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.9;
  }

}
