.backgroffice {
  background-image: url('./ufficio.jpg');
  background-size: cover;
  text-align: center;
  height: 400px;
  z-index: 0;
}

.backgrhospital {
  background-image: url('./abitazione.jpg');
  background-size: cover;
  text-align: center;
  height: 400px;
  z-index: 0;
}

.backgrstore {
  background-image: url('./negozio.jpg');
  background-size: cover;
  text-align: center;
  height: 400px;
  z-index: 0;
}

.backgrhotel {
  background-image: url('./hotel.jpg');
  background-size: cover;
  text-align: center;
  height: 400px;
  z-index: 0;
}

.whitelayer {
  height: 100%;
  width: 100%;
  background-color: rgba(255,255,255,0.77);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.headsubtext {
  z-index: 10;

}

.headsubtitle {
  color: #001ec2;
}

.headsubsubtitle {
  margin-left: 5%;
  margin-right: 5%;
  color: #0081C2;
  font-size: 1.3rem;
}
