
.titleandsubcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.titolo {
  color: #0081C2;
  text-align: center;
  font-size: 2.5rem;
}

.sottotitolo {
  color: #5b5b5b;
  font-weight: 400;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}

@media (max-width: 600px) {
  .titolo {
    font-size: 2.0rem;
  }
  .sottotitolo {
    font-size: 1.0rem;
  }
}

@media (min-width: 800px) {
  .titolo {
    color: #0081C2;
    font-size: 2.5rem;
  }
}
