
.divwrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.invisiblemain {
  /* margin-left: 1rem; */
  padding: 1rem;
  font-size: 2rem;
  margin: 0;
  color: #0081C2;
}

.invisiblemainlogo {
  /* margin-left: 1rem; */
  margin-left: 1rem;
  width: 10%;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

@media (max-width: 600px) {
  .invisiblemainlogo {
    width: 25%;
  }
}

.spanwrap {
  margin: 0;
  padding: 0;
}

.subheadlinkwrapper {
  /* margin-top: 0.8rem; */
}

.subheadlink {
  margin: 1rem;
  text-decoration: none;
  color: #5b5b5b;
  font-size: 1.1rem;
}

.mobilerightbtn {
  margin-right: 1.6rem;
}

.mobilemenu {
  fill: #0081C2;
  margin-top: 0.7rem;
}

.sidemenu {
  position: fixed;
  right: 0;
  top: 0;
  background-color: white;
  height: 100%;
  width: 0%;
}

.sidemenuopen {
  position: fixed;
  z-index: 1000;
  right: 0;
  top: 0;
  background-color: white;
  height: 100%;
  animation: opensidemenu 3s;
  animation-fill-mode: forwards;
}

.sidemenuclose {
  position: fixed;
  z-index: 1000;
  right: 0;
  top: 0;
  background-color: white;
  height: 100%;
  animation: closesidemenu 3s;
  animation-fill-mode: forwards;
}

.sfondosidenav {
  position: fixed;
  right: 0;
  top: 0;
  background-color: black;
  height: 100%;
  width: 0%;
}

.sfondosidenavopen {
  position: fixed;
  right: 0;
  top: 0;
  background-color: black;
  height: 100%;
  width: 0%;
  animation: opensidesfondo 3s;
  animation-fill-mode: forwards;
}

.sfondosidenavclose {
  position: fixed;
  right: 0;
  top: 0;
  background-color: black;
  height: 100%;
  width: 0%;
  animation: closesidesfondo 3s;
  animation-fill-mode: forwards;
}

.bluetechlitmedium {
  display: flex;
  flex-direction: column;
  color: #43B6E7;
}

.bluetechlitstrong {
  color: #0081C2;
}

.mobileNavItem {
  text-decoration: none;
  margin-top: 1.5rem;
  color: #5b5b5b;
}

.mobileNavItem:active {
  margin-top: 1.5rem;
  color: yellow;
  animation: pressopaque 3s;
  animation-iteration-count: 3;
  animation-timing-function: ease-in;
}

/*  ANIMATIONS */

@keyframes pressopaque {
  0% {
    opacity: 1;
    color: #0081C2;
    font-weight: 900;
  }

  100% {
    opacity: 0;
    color: red;
    font-weight: 100;
  }
}

@keyframes opensidemenu {
  0% {
    width: 0%;
  }

  100% {
    width: 50%;
  }
}

@keyframes closesidemenu {
  0% {
    width: 50%;
    opacity: 1;
  }

  100% {
    width: 0%;
    opacity: 0;
  }
}

@keyframes opensidesfondo {
  0% {
    width: 100%;
    left: 0;
    opacity: 0;
  }

  100% {
    width: 100%;
    left: 0;
    opacity: 0.5;
  }
}

@keyframes closesidesfondo {
  0% {
    width: 100%;
    opacity: 0.5;
  }

  50% {
    width: 100%;
    opacity: 0;
  }

  100% {
    width: 0%;
    opacity: 0;
  }
}
