.divwrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.invisiblemain {
  /* margin-left: 1rem; */
  padding: 1rem;
  font-size: 2rem;
  margin: 0;
  color: #0081C2;
}

.subheadlinkwrapper {
  margin-top: 0.8rem;
}

.subheadlink {
  margin: 1rem;
  text-decoration: none;
}
