.perchedivmain {
  margin-top: 5%;
  margin-bottom: 5%;
}

.textdivv {
  text-align: center;
  padding-top: 5%;
}

.divpicone {
  background-image: url('./progettazione.jpg');
  background-size: cover;
  height: 400px;
  background-position: center;

}

.divpictwo {
  background-image: url('./integrazione.jpg');
  background-size: cover;
  height: 400px;
  background-position: center;
}

.divpicthree {
  background-image: url('./innovazione.jpg');
  background-size: cover;
  background-position: center; 
  height: 400px;
}
