.backgroundz {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
}

.mobilebkg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
  background-image: url('./mobile-bkgr.jpg');
  background-size: cover;
  opacity: 0.3;
}

.frontwrapper {
  margin-top: 5%;
}

.flagwrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flagwrapper:hover {
  background-color: #BFE1EC;
  border-radius: 50px;
}

.flagimg {
  margin-top: 5%;
  margin-bottom: 5%;
}

@media (max-width: 767px) {
  .backgroundz {
    display: none;
  }
}

@media (min-width: 767px) {
  .mobilebkg {
    display: none;
  }
}
