.boxdiv {
  margin-top: 2%;
  background-color: rgb(67, 182, 231);
  text-align: center;
  border-radius: 50px;
  height: 96%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.boxDiv:first-child.imageContainer {
  margin-top: 0;
}

.imageContainer {
  height: 80px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageContainer img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  max-height: 100%;
  height: auto;
  padding-top: 5px;
}

/*
.icon1 {
  width: 15%;
  padding-top: 10%;
  fill: white !important;
}

.icon2 {
  width: 23%;
  padding-top: 10%;
  fill: white !important;
}

.icon3 {
  width: 25%;
  padding-top: 10%;
  fill: white !important;
} */

.subtitle {
  padding-bottom: 15%;
  color: white;
  margin-left: 5%;
  margin-right: 5%;
  font-weight: 200;
}

.subtitle3 {
  font-size: 1.2rem;
  padding-bottom: 15%;
  color: white;
  margin-left: 5%;
  margin-right: 5%;
}

.title {
  padding-top: 10%;
  color: white;
  margin-left: 5%;
  margin-right: 5%;
}

.title3 {
  padding-top: 10%;
  color: white;
  /* font-size: 1.9rem; */
  margin-left: 5%;
  margin-right: 5%;
}
